@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f4f7f8;
}

/* header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    background-color: #333333;
    padding: 0 3rem;
    margin: 0 0 3rem 0;
}

header a, .my-navbar-item {
    color: #8c8c8c;
    text-decoration: none;
    font-size: 20px;
}

header a:hover ,
a.my-navbar-item:hover {
    color: #ffffff;
} */

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space: nowrap;
    width: 1px;
}

section {
    margin: 2rem 3rem;
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #fff;
}

.test p {
    color: red;
}

.navbar {
    margin: 2rem 0 2.5rem 0;
}

.my-navbar {
    align-items: center;
    background: #333;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
}

.my-navbar-brand {
    font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
    color: #ffffff;
}
