
body {
    margin: 0;
    padding: 0;
    background-color: #f4f7f8;
}

header {
    background-color: #333333;
    margin: 0;
    padding: 0;
}

header h2 a {
    color: #8c8c8c;
    text-decoration: none;
}
